bin/
!bin/.gitkeep
*.bin
*.o
*.a
!vendor/librns/lib-musl/librns.a
.ols
*.log
.DS_Store
out/
out-musl/
dist/
.deps/
result

# Ignore stray shared libs, keep the vendored ones
*.so
*.dll
*.dylib
*.exe
!vendor/librns/lib/librns.so
!bin/librns.so
